<!DOCTYPE html5>
<html>
<head>
	<title>Musicbox</title>
	<link rel=stylesheet href=zero.css>
	<link rel=stylesheet href=main.css>
	<style>


</style>
</head>
	<body>
	<header>
		<div class="logo-div">
			<h2>MusicBox</h2>
		</div>
	</header>
			<nav class="left-nav">
				<ul>
				<li><a href="#">Genre</a></li>
				<li><a href="#">Artist</a></li>
				<li><a href="#">Albums</a></li>
				</ul>
			</nav>
		<section>
		<div class="song-details">
			<img src="" width=80px height=80px alt="song" >
			<div style="display:flex;flex-direction:column;">
			<a href="#"><h3 style="margin-top:1.1em">Title song</h3></a>
			<h4>artist</h4>
			</div>
		</div>
		</section>
		<nav class="right-nav">
				<ul>
				<li style="text-align:center;">Sort By</li>
				<select>
				<option value="popular">Popularity</option>
				<option value="newest">Newest</option>			
				</select>
				</ul>
			</nav>
		<footer>
		</footer>
		</body>
	</html>
