header{
padding:10px 10px 10px 10px;
display:flex;
height:55px;
border-bottom:1px black solid;	
}
section{

	width:72%;
	margin-top:20px;
	margin-right:20px;	
	float:left;
	border-left:1px solid black;
	border-right:1px solid black;
}

ul{
	width:100%;
	list-style:none;	
	
		
}
li{	padding-top:30px;
	width:87%;
	text-align:right;

}

.logo-div{
	flex:1;
	width:200px;	
	padding:10px 10px 10px 10px;
		
}

.left-nav{
	width:12%;
	margin:10px 10px 10px 0px;
	border-right:1px black solid;
	border-bottom:1px black solid;
	padding-bottom:20px;
	margin-left:10px;
	float:left;
}
.right-nav{
	width:12%;
	margin:10px 10px 10px 0px;
	border-left:1px black solid;
	border-bottom:1px black solid;
	padding-bottom:20px;
	margin-right:10px;
	float:left;
	text-align:left;
}
.logo-div,h2,nav{
	border:0;
}
select{
	margin-left:20px;
	margin-top:20px;
}
.song-details{
	display:flex;
	border:1px solid black;
	width:80%;
	margin-left:20px; 
	height:100px;
		}
img{
	margin:13px;
}
